* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Happy Monkey', system-ui;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    background: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: 50%;
    padding: 2rem 1rem 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#joke {
    text-align: center;
    font-size: 2rem;
    color: #F5514D;
}

h1 {
    color: #DF901F;
    font-size: 3rem;
    text-align: center;
}



/* CSS */

.button-52 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  background-color: #ffe54c;
  opacity: 0.5;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}





/* dark-mode-btn-integration */

#toggle-btn-container {
    position: absolute;
    top: 5rem;
}

#toggle-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 60px;
    border-radius: 50px;
    background-color: black;
    border: none;
  }
  
  #circle {
    position: absolute;
    left: 0.25rem;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: white;
  }
  
  svg {
    flex: 1;
    height: 75%;
  }
  

  /* animation */

  /* anim-1 */

.light-to-dark {
    animation-name: lightToDark;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes lightToDark {
    from {
      background: url(./images/bg.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    to {
      background: url(./images/dark-bg.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  
  .dark-to-light {
    animation-name: darkToLight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes darkToLight {
    from {
      background: url(./images/dark-bg.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    to {
      background: url(./images/bg.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  /* anim-2 */

  
.slide-right {
    animation-name: slideRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideRight {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(70px);
    }
  }
  
  .slide-left {
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideLeft {
    from {
      transform: translateX(70px);
    }
    to {
      transform: translateX(0px);
    }
  }



@media screen and (max-width: 426px) {
  #joke {
    /* font-size: 1.8rem; */
    font-size: 1.5rem;
  }
  h1 {
    /* font-size: 2rem; */
    font-size: 1.7rem;
  }
  .main {
    min-height: 50%;
    height: fit-content;
  }
}  

